:root {
    --body-primary: #000;
    --body-secondary: #fff;
    --main-color: limegreen;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--body-primary);
    color: var(--body-secondary);
}

.link {
    color: var(--body-secondary);
}

.link:hover {
    color: var(--main-color);
}

.wrapper {
    overflow: hidden;
}

header {
    height: 100vh;
    background: url(img/bg-bulb-1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-toggler:hover {
    background-color: rgba(200, 250, 200, 0.1);
    border: 1px solid rgba(200, 250, 100, 0.2);
}

.nav-link {
    color: var(--body-secondary);
}

.nav-link:hover {
    color: var(--main-color);
}

/*----------------- Top Content --------------------*/
.top-content-wrapper {
    display: flex;
    align-items: center;
    height: 80%;
}

.top-content {
    margin-left: 200px;
}

.top-content h1 {
    font-size: 120px;
}

.top-content span {
    color: var(--main-color);
}

.top-content h4 {
    font-size: 50px;
}

.top-content p {
    font-size: 30px;
}

/*----------------- Sections --------------------*/
.section {
    padding-left: 40px;
    margin: 200px 0;
}

.section h4 {
    color: var(--main-color);
}

#about-me a {
    color: var(--body-secondary);
}

#about-me a:hover {
    color: var(--main-color);
}

.about-text p {
    font-size: 25px;
}

.about-text p,
.project p {
    color: #adadad;
}

/*----------------- Skills --------------------*/
.skills-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100px;
    border: 1px solid #444;
}

.skill i {
    font-size: 50px;
    color: var(--body-secondary);
}

.skill img {
    width: 50px;
}

.skill span {
    font-size: 15px;
}

/*----------------- Projects --------------------*/
.project {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto;
}

.project img {
    width: 25px;
}

.description {
    font-size: 15px;
    width: 100%;
}

.left-content,
.right-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    text-align: left;
    width: 100%;
    /* border: 1px solid blue; */
}

.tech-list span {
    font-size: 15px;
}


.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-content,
.proj-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-content video{
    border-radius: 50px;
    margin-bottom: 0;
    border: 1px solid #444;
    padding: 0;
}

.proj-link {
    margin: 0 30px;
    text-decoration: none;
    color: var(--body-secondary);
}

/*----------------- Contacts --------------------*/
#contacts {
    background: url(img/bg-bulb-3.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
}

.contacts-list {
    /* border: 1px solid red; */
    text-align: center;
    list-style-type: none;
    animation: scrollHorizontal 75s linear infinite;
}

.contacts-list li {
    display: inline-block;
    margin: 20px;
}

@keyframes scrollHorizontal {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5%);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0);
    }
}

.contact-link {
    text-decoration: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 30px;
    color: var(--body-secondary);
}

.contact-link img {
    width: 60px;
}

.contact-link span {
    font-size: 15px;
    font-weight: lighter;
}

/*--------------- Media Queries ---------------*/
@media screen and (max-width: 1050px) {
    .top-content {
        margin-left: 100px;
    }

    .project {
        flex-direction: column-reverse;
        gap: 50px;
    }
}

@media screen and (max-width: 700px) {
    .top-content {
        margin-left: 20px;
    }

    .project video {
        width: 500px;
    }

    .about-text p {
        font-size: 20px;
    }
}

@media screen and (max-width: 570px) {
    .top-content h1 {
        font-size: 50px;
    }
    
    .top-content span {
        color: var(--main-color);
    }
    
    .top-content h4 {
        font-size: 20px;
    }
    
    .top-content p {
        font-size: 15px;
    }

    .project video {
        width: 300px;
    }

    .about-text p {
        font-size: 15px;
    }

    .skill {
        width: 70px;
        height: 60px;
    }

    .skill img {
        width: 30px;
    }

    .skill span {
        font-size: 10px;
    }

    .contact-link img {
        width: 40px;
    }
    
    .contact-link span {
        font-size: 10px;
    }
}